  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .youtube-logo {
    height: 50px;
  }
  
  .search-bar {
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
  }
  
  .search-input {
    width: 60%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #777;
    background-color: #F8F8F8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #F0F0F0;
  }
  
  .menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
  }
  
  .menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
  }

  #contain {
    padding-left: 90px;
  }
  #side-icons{
    display: inline-flex; 
    padding-left: 20px;
  }
  #left-icon{
    width : 250px;
    height : 150px;
  }
  .like{
    width: 450px;
    display: flex;
    text-align: right;
    float: right;
    padding-top: -20px ;
    gap : .50rem
  }
  #views{
    width: 450px;
    height: 50px;
  }
  #vedio_heading{
    text-decoration: solid;
  }
  /* #vedio{
    background-image: url(./songsimg/boywithluv.jpg);
    display: block;
    margin: 0px;
    padding: 0px;
  } */

  #btn-subs{
   height: 40px;
   width: 100px;
    background-color: rgb(199, 15, 15);
    color: white;
     float: right; 
  }
  
  #t-logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  #ved_info{
    /* display: flex; */
    
  }

  #view_svg
  {
    display: flex;
  }
